<footer>
    <nav class="footer-nav">
        <div class="footer-links">
            <ul>
                <li><a href="/authors">Movies</a></li>
                <li><a href="/authors/new">comedy</a></li>
                <li><a href="/books">TV Shows</a></li>
                <li><a href="/books/new">Top IMDB</a></li>
            </ul>
        </div>
    </nav>
</header>