<header>
    <nav class="header-nav">
        <a class="header-title" href="/">HDMOVIE</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="header-links">
            <ul>
                <li><a href="/books">Movies</a></li>
                <li><a href="/authors/new">comedy</a></li>
                <li><a href="/authors">TV Shows</a></li>
                <li><a href="/books/new">Top IMDB</a></li>
            </ul>
        </div>
    </nav>
</header>

