<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Efexng</a>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="header-links">
            <ul>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/authors/new">Add Author</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">Add Book</a></li>
            </ul>
        </div>
    </nav>
</header>