:root {
    --book-cover-width: 155px;
    --book-cover-width-large: 155px;
    --book-cover-aspect-ratio: 0.607; 
}

.search-form-books {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    }


.search-input-books {
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    width: 100%;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: "Gotham Rounded";
    outline: none;
}

.search-button-books {
    border: 1px solid var(--color-btn-border);
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: 'Gotham Rounded';
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}

.search-button-books:hover {
    color: var(--color-btn-primary-text-dark);
    background-color: var(--color-btn-primary-background-dark);
}



.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
    border-radius: 20px; 
    margin-bottom: 30px;
}

.book-cover-large {
    --book-cover-width : var(--book-cover-width-large);
    --book-cover-aspect-ratio: 0.607; 
}

.book-grid {
    display: grid;
    justify-content: center;
    margin-top: 150px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
}

.book-details-labels {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}

.book-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-content: flex-start;
    grid-template-areas: "edit delete" "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
}

.book-details-author-button {
    grid-area: author;
    justify-self: stretch;
}

