:root {
    --nav-title-font-size: 2.5rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}


.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}



.footer-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.footer-links li {
    list-style: none;
}

.footer-links li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.footer-links li a:hover, .header-title:hover {
    color: white;
    
}
