:root {
    --color-base-hue: 100;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 10%, 20%);
    --color-background-light: hsl(var(--color-base-hue), 10%, 10%);
    --color-text-light: hsl(var(--color-base-hue), 15%, 60%);
}

